[feishu]
# 飞书群机器人webhook链接
webhook =
# 用户ID，用于@某个用户
user_id =
# 是否@全体成员
all_user = False

[dingtalk]
# 钉钉群机器人webhook链接
webhook =
# 钉钉群机器人密钥
secret =
# 是否通知全体成员
at_all = True

[webhook]
# 第一个webhook链接
webhook1 = 
# 加密通信密钥（对webhook1的加密密钥，需要和accept_ip密钥保持一致，内容为空视为明文发送）
secret_key = 

[email]
# smtp推送服务器
smtp_host = smtp.qq.com
# smtp推送端口
smtp_port = 465
# 发送邮件的邮箱
sender_email =
# 发送邮件的邮箱密码
sender_pass =
# 接收邮件的邮箱
receiver_email =

[time]
# 循环运行脚本的间隔时间
sleeptime = 10
# 访问获取IP的API的超时时间
timeout = 10

# 一些免费获取公网IP的API
[APIS_URL]
ipify = https://api.ipify.org?format=json, ipify, lambda x: x["ip"]
ipinfo = https://ipinfo.io/json, ipinfo, lambda x: x["ip"]
my-ip.io = https://api.my-ip.io/ip.json, my-ip.io, lambda x: x["ip_address"]
ip.sb = https://api.ip.sb/jsonip, ip.sb, lambda x: x["ip"]
icanhazip = https://icanhazip.com, icanhazip, lambda x: x.strip()

[file_name]
# 将IP地址储存在此文件内
ip_file = ip.txt
# 将log储存在此文件内（容器内路径，映射到宿主机 ./logs 目录）
log_file = /app/logs/app.log