[feishu]
webhook = 
user_id = 
all_user = False

[dingtalk]
webhook = 
secret = 
at_all = True

[webhook]
webhook1 = 
webhook2 = 

[email]
smtp_host = smtp.qq.com
smtp_port = 465
sender_email = 
sender_pass = 
receiver_email = 

[time]
sleeptime = 10
timeout = 10

[APIS_URL]
ipify = https://api.ipify.org?format=json, ipify, lambda x: x["ip"]
ipinfo = https://ipinfo.io/json, ipinfo, lambda x: x["ip"]
my-ip.io = https://api.my-ip.io/ip.json, my-ip.io, lambda x: x["ip_address"]
ip.sb = https://api.ip.sb/jsonip, ip.sb, lambda x: x["ip"]
icanhazip = https://icanhazip.com, icanhazip, lambda x: x.strip()

[file_name]
ip_file = ip.txt
log_file = app.log